<div id="<%= dom_id invoice %>">
  <p>
    <strong>Wallet:</strong>
    <%= invoice.wallet_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= invoice.amount %>
  </p>

  <p>
    <strong>Expires at:</strong>
    <%= invoice.expires_at %>
  </p>

  <p>
    <strong>External:</strong>
    <%= invoice.external_id %>
  </p>

</div>
