<h1>New wallet</h1>

<%= form_with(model: [:admin, @wallet]) do |form| %>
  <%= render 'form_errors', wallet: @wallet %>
  <div class="col-md-6">
    <%= form.label :address, class: 'form-label' %>
    <%= form.text_field :address, class: 'form-control', placeholder: t('wallet.placeholder.address') %>
  </div>
  <div class="col-md-6">
    <%= form.label :view_key, class: 'form-label' %>
    <%= form.text_field :view_key, class: 'form-control', placeholder: t('wallet.placeholder.view_key') %>
  </div>
  <div class="col-md-6">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', placeholder: t('wallet.placeholder.name') %>
  </div>
  <div class="col-md-6">
    <%= form.label :port, class: 'form-label' %>
    <%= form.number_field :port, class: 'form-control', placeholder: t('wallet.placeholder.port') %>
  </div>
  <div class="col-md-6">
    <%= form.label :default_expiry_ttl, class: 'form-label' %>
    <%= form.number_field :default_expiry_ttl, class: 'form-control', placeholder: t('wallet.placeholder.default_expiry_ttl') %>
  </div>
  <div>
    <%= form.submit class: 'btn btn-dark' %>
  </div>
<% end %>

<br>

<div>
  <%= link_to t('wallet.back'), admin_wallets_path, class: 'link-dark' %>
</div>
