<h1>Editing wallet <%= @wallet.name %></h1>

<%= form_with(model: @wallet) do |form| %>
  <%= render 'form_errors', wallet: @wallet %>
  <div class="col-md-1">
    <%= form.label :port, class: 'form-label' %>
    <%= form.number_field :port, class: 'form-control' %>
  </div>
  <div class="col-md-1">
    <%= form.submit class: 'btn btn-dark' %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to wallets", wallets_path, class: 'link-dark' %>
</div>
