<% if notice.present? %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>

<%= render @wallet %>

<div class="col-md-6">
  <%= link_to "Edit this wallet", edit_wallet_path(@wallet), class: 'btn btn-dark' %>
  <%= button_to "Destroy this wallet", @wallet, method: :delete, class: 'btn btn-danger' %>
</div>
<div>
  <%= link_to "Back to wallets", wallets_path, class: 'link-dark' %>
</div>
