<!DOCTYPE html>
<html>
  <head>
    <title><%= "[#{Rails.env.upcase}] " unless Rails.env.production? %>XPG</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <% unless Rails.env.production? %>
        <div class="alert alert-danger">
          <h2><%= t('layout.non_prod_warning', env: Rails.env) %></h2>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
